<nav class="navbar">

  <a routerLink="/" class="logo">
    🛍️ SecondDeal
  </a>

  <div class="nav-links">

    <a routerLink="/">Browse</a>

    @if (authService.isLoggedIn()) {

      <a routerLink="/post-item">+ Sell</a>
      <a routerLink="/my-listings">My Listings</a>
      <a routerLink="/wishlist">❤️ Wishlist</a>
      <a routerLink="/inbox">📬 Inbox</a>
      <a routerLink="/profile">Profile</a>
      <a routerLink="/admin">Admin</a>

      <button class="logout-btn" (click)="logout()">
        Logout
      </button>

    } @else {

      <a routerLink="/login">Login</a>
      <a routerLink="/register">Register</a>

    }

  </div>

</nav>